<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title> <%= title %></title>  

  </head>

  <body class="m-0 tracking-widest bg-[#D7CEB2] font-thin font-helvetica-neue ">
    <%- include('nav') -%>

        <h1>editing items</h1>

        <%- include('footer') -%>

  </body>
</html>