<footer class="mt-20 py-5 bg-[#3C3C34] w-full flex flex-row justify-between self-baseline">
    <section class="pl-28  text-[#f5f5f5] ">
        <h2 class="font-thin ">ABOUT THE SHOP</h2>
        <p class="whitespace-pre-line">The story of Leo and Violette, it's ours.We are Léo Dominguez & Violette Polchi.
            Two Parisian lovers sharing our lives for more than 8 years.
            Since the early days of our meeting, we always had the dream to develop a project together.
            Here it is!Thanks to Léo et Violette for allowing us to use their products in this demo store</p>
    </section>
    <section class="pr-28 text-[#f5f5f5]  ">
        <h2 class="font-thin">CONTACT US</h2>
        <a role="button" href="/" class=" block py-2 no-underline text-[#F5F5F5]">Facebook</a>        
        <a role="button" href="/" class=" block py-2 no-underline text-[#F5F5F5]">Twitter</a>        
        <a role="button" href="/" class=" blcok py-2  no-underline text-[#F5F5F5]">Instagram</a>        
        <a role="button" href="/" class=" block py-2  no-underline text-[#F5F5F5]">Github</a>        
    </section>
    </footer>