<nav class="px-28  py-0  flex justify-between bg-[#3C3C34]">

    <div class="text-5xl flex  ">
<a role="button" href="/" class="  py-6  no-underline text-[#F5F5F5]">Home</a>        
<a role="button" href="/collection/" class=" px-6 py-6  no-underline text-[#F5F5F5]">collection</a>        
<a role="button" href="/item/create/" class=" px-6 py-6  no-underline text-[#F5F5F5]">create item</a>        
<a role="button" href="/collection/create/" class=" px-6 py-6  no-underline text-[#F5F5F5]">create collection</a>        

</div >
    <a  role="button" href="/About" class="text-5xl  px-6 py-6   no-underline text-[#F5F5F5]  ">About us</a>        
</nav>