*, ::before, ::after {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x:  ;
    --tw-pan-y:  ;
    --tw-pinch-zoom:  ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position:  ;
    --tw-gradient-via-position:  ;
    --tw-gradient-to-position:  ;
    --tw-ordinal:  ;
    --tw-slashed-zero:  ;
    --tw-numeric-figure:  ;
    --tw-numeric-spacing:  ;
    --tw-numeric-fraction:  ;
    --tw-ring-inset:  ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur:  ;
    --tw-brightness:  ;
    --tw-contrast:  ;
    --tw-grayscale:  ;
    --tw-hue-rotate:  ;
    --tw-invert:  ;
    --tw-saturate:  ;
    --tw-sepia:  ;
    --tw-drop-shadow:  ;
    --tw-backdrop-blur:  ;
    --tw-backdrop-brightness:  ;
    --tw-backdrop-contrast:  ;
    --tw-backdrop-grayscale:  ;
    --tw-backdrop-hue-rotate:  ;
    --tw-backdrop-invert:  ;
    --tw-backdrop-opacity:  ;
    --tw-backdrop-saturate:  ;
    --tw-backdrop-sepia:  
}
::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x:  ;
    --tw-pan-y:  ;
    --tw-pinch-zoom:  ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position:  ;
    --tw-gradient-via-position:  ;
    --tw-gradient-to-position:  ;
    --tw-ordinal:  ;
    --tw-slashed-zero:  ;
    --tw-numeric-figure:  ;
    --tw-numeric-spacing:  ;
    --tw-numeric-fraction:  ;
    --tw-ring-inset:  ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur:  ;
    --tw-brightness:  ;
    --tw-contrast:  ;
    --tw-grayscale:  ;
    --tw-hue-rotate:  ;
    --tw-invert:  ;
    --tw-saturate:  ;
    --tw-sepia:  ;
    --tw-drop-shadow:  ;
    --tw-backdrop-blur:  ;
    --tw-backdrop-brightness:  ;
    --tw-backdrop-contrast:  ;
    --tw-backdrop-grayscale:  ;
    --tw-backdrop-hue-rotate:  ;
    --tw-backdrop-invert:  ;
    --tw-backdrop-opacity:  ;
    --tw-backdrop-saturate:  ;
    --tw-backdrop-sepia:  
}
.static {
    position: static
}
.fixed {
    position: fixed
}
.absolute {
    position: absolute
}
.relative {
    position: relative
}
.-top-28 {
    top: -7rem
}
.-top-\[100vh\] {
    top: -100vh
}
.bottom-0 {
    bottom: 0px
}
.left-0 {
    left: 0px
}
.-z-20 {
    z-index: -20
}
.col-span-2 {
    grid-column: span 2 / span 2
}
.col-start-1 {
    grid-column-start: 1
}
.col-start-3 {
    grid-column-start: 3
}
.col-end-1 {
    grid-column-end: 1
}
.row-span-1 {
    grid-row: span 1 / span 1
}
.row-span-2 {
    grid-row: span 2 / span 2
}
.row-span-3 {
    grid-row: span 3 / span 3
}
.row-span-4 {
    grid-row: span 4 / span 4
}
.row-start-2 {
    grid-row-start: 2
}
.row-start-3 {
    grid-row-start: 3
}
.row-start-4 {
    grid-row-start: 4
}
.row-end-2 {
    grid-row-end: 2
}
.row-end-3 {
    grid-row-end: 3
}
.row-end-4 {
    grid-row-end: 4
}
.m-0 {
    margin: 0px
}
.m-5 {
    margin: 1.25rem
}
.my-10 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem
}
.my-\[5rem\] {
    margin-top: 5rem;
    margin-bottom: 5rem
}
.mr-5 {
    margin-right: 1.25rem
}
.mt-20 {
    margin-top: 5rem
}
.mt-6 {
    margin-top: 1.5rem
}
.block {
    display: block
}
.inline-block {
    display: inline-block
}
.flex {
    display: flex
}
.inline-flex {
    display: inline-flex
}
.grid {
    display: grid
}
.h-20 {
    height: 5rem
}
.h-72 {
    height: 18rem
}
.h-8 {
    height: 2rem
}
.h-\[100\%\] {
    height: 100%
}
.h-\[100vh\] {
    height: 100vh
}
.h-\[60vh\] {
    height: 60vh
}
.h-\[72\%\] {
    height: 72%
}
.h-\[85vh\] {
    height: 85vh
}
.h-full {
    height: 100%
}
.max-h-\[60vh\] {
    max-height: 60vh
}
.w-36 {
    width: 9rem
}
.w-60 {
    width: 15rem
}
.w-\[100\%\] {
    width: 100%
}
.w-\[100vw\] {
    width: 100vw
}
.w-\[22vw\] {
    width: 22vw
}
.w-full {
    width: 100%
}
.w-screen {
    width: 100vw
}
.grid-flow-row {
    grid-auto-flow: row
}
.grid-flow-col {
    grid-auto-flow: column
}
.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr))
}
.grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr))
}
.grid-rows-2 {
    grid-template-rows: repeat(2, minmax(0, 1fr))
}
.grid-rows-3 {
    grid-template-rows: repeat(3, minmax(0, 1fr))
}
.grid-rows-4 {
    grid-template-rows: repeat(4, minmax(0, 1fr))
}
.flex-row {
    flex-direction: row
}
.flex-col {
    flex-direction: column
}
.flex-wrap {
    flex-wrap: wrap
}
.items-start {
    align-items: flex-start
}
.items-end {
    align-items: flex-end
}
.items-center {
    align-items: center
}
.justify-start {
    justify-content: flex-start
}
.justify-center {
    justify-content: center
}
.justify-between {
    justify-content: space-between
}
.gap-2 {
    gap: 0.5rem
}
.gap-2\.5 {
    gap: 0.625rem
}
.gap-3 {
    gap: 0.75rem
}
.gap-5 {
    gap: 1.25rem
}
.gap-8 {
    gap: 2rem
}
.self-end {
    align-self: flex-end
}
.self-stretch {
    align-self: stretch
}
.overflow-auto {
    overflow: auto
}
.whitespace-pre-line {
    white-space: pre-line
}
.bg-\[\#3C3C34\] {
    --tw-bg-opacity: 1;
    background-color: rgb(60 60 52 / var(--tw-bg-opacity))
}
.bg-\[\#D7CEB2\] {
    --tw-bg-opacity: 1;
    background-color: rgb(215 206 178 / var(--tw-bg-opacity))
}
.bg-\[\#F5F5F5\] {
    --tw-bg-opacity: 1;
    background-color: rgb(245 245 245 / var(--tw-bg-opacity))
}
.bg-\[\] {
    background-color: 
}
.bg-opacity-60 {
    --tw-bg-opacity: 0.6
}
.bg-\[url\(\'\.\.\/images\/background\/clark-street-mercantile-qnKhZJPKFD8-unsplash_d7dfcv_ar_1_1\2c c_fill\2c g_auto__c_scale\2c w_200\.jpg\'\)\] {
    background-image: url('../images/background/clark-street-mercantile-qnKhZJPKFD8-unsplash_d7dfcv_ar_1_1,c_fill,g_auto__c_scale,w_200.jpg')
}
.bg-\[url\(\'https\:\/\/cdn\.shopify\.com\/s\/files\/1\/0628\/7304\/3159\/products\/2015-03-30_Jake_Look_20_21758_16592\.jpg\?v\=1645894847\'\)\] {
    background-image: url('https://cdn.shopify.com/s/files/1/0628/7304/3159/products/2015-03-30_Jake_Look_20_21758_16592.jpg?v=1645894847')
}
.bg-\[url\(url-\)\] {
    background-image: url(url-)
}
.bg-\[url\(url\(\)\)\] {
    background-image: url(url())
}
.bg-\[url\(url\(\<\)\)\] {
    background-image: url(url(<))
}
.bg-\[url\(url\(\<\%\=\)\)\] {
    background-image: url(url(<%=))
}
.bg-\[url\(\)\] {
    background-image: url()
}
.bg-\[url\(\>\)\] {
    background-image: url(>)
}
.bg-\[url\(\<\)\] {
    background-image: url(<)
}
.bg-\[url\(\<\%\)\] {
    background-image: url(<%)
}
.bg-cover {
    background-size: cover
}
.bg-center {
    background-position: center
}
.object-cover {
    -o-object-fit: cover;
       object-fit: cover
}
.p-0 {
    padding: 0px
}
.p-1 {
    padding: 0.25rem
}
.p-3 {
    padding: 0.75rem
}
.p-5 {
    padding: 1.25rem
}
.p-2 {
    padding: 0.5rem
}
.p-1\.5 {
    padding: 0.375rem
}
.px-28 {
    padding-left: 7rem;
    padding-right: 7rem
}
.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem
}
.py-0 {
    padding-top: 0px;
    padding-bottom: 0px
}
.py-16 {
    padding-top: 4rem;
    padding-bottom: 4rem
}
.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem
}
.py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem
}
.py-5 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem
}
.py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem
}
.pb-12 {
    padding-bottom: 3rem
}
.pb-16 {
    padding-bottom: 4rem
}
.pl-28 {
    padding-left: 7rem
}
.pr-28 {
    padding-right: 7rem
}
.text-center {
    text-align: center
}
.font-helvetica-neue {
    font-family: 'Helvetica Neue'
}
.text-13xl {
    font-size: 2rem
}
.text-17xl {
    font-size: 2.25rem
}
.text-29xl {
    font-size: 3rem
}
.text-5xl {
    font-size: 1.5rem
}
.font-bold {
    font-weight: 700
}
.font-light {
    font-weight: 300
}
.font-thin {
    font-weight: 100
}
.uppercase {
    text-transform: uppercase
}
.leading-3 {
    line-height: .75rem
}
.leading-loose {
    line-height: 2
}
.leading-snug {
    line-height: 1.375
}
.tracking-wide {
    letter-spacing: 0.025em
}
.tracking-wider {
    letter-spacing: 0.05em
}
.tracking-widest {
    letter-spacing: 0.1em
}
.text-\[\#3B3B3B\] {
    --tw-text-opacity: 1;
    color: rgb(59 59 59 / var(--tw-text-opacity))
}
.text-\[\#3C3C34\] {
    --tw-text-opacity: 1;
    color: rgb(60 60 52 / var(--tw-text-opacity))
}
.text-\[\#F5F5F5\] {
    --tw-text-opacity: 1;
    color: rgb(245 245 245 / var(--tw-text-opacity))
}
.text-\[\#f5f5f5\] {
    --tw-text-opacity: 1;
    color: rgb(245 245 245 / var(--tw-text-opacity))
}
.text-\[\#ffff\] {
    color: #ffff
}
.text-stone-50 {
    --tw-text-opacity: 1;
    color: rgb(250 250 249 / var(--tw-text-opacity))
}
.text-zinc-100 {
    --tw-text-opacity: 1;
    color: rgb(244 244 245 / var(--tw-text-opacity))
}
.no-underline {
    text-decoration-line: none
}
.transition-opacity {
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms
}
.duration-\[3s\] {
    transition-duration: 3s
}
.ease-in-out {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}
.hover\:bg-\[\#F5F5F5\]:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(245 245 245 / var(--tw-bg-opacity))
}
.hover\:text-\[\#3C3C34\]:hover {
    --tw-text-opacity: 1;
    color: rgb(60 60 52 / var(--tw-text-opacity))
}
